/* Fonts */
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;600&display=swap");
/* Global classes */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Times New Roman", Times, serif;
}
body a {
  text-decoration: none;
  color: black;
}
section {
  padding: 100px;
  padding-bottom: 20px;
}
.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.13em;
}
.heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 75px;
  text-transform: capitalize;
}
/* Header Styling*/
.logo {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
header {
  padding: 1px 50px 1px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}
header ul {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}
header button {
  font-weight: 700;
  font-size: 18px;
  color: white;
  background: #367cff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
header ul a {
  font-size: 18px;
}
/* Footer Styling */
footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #e6efff;
}
footer main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer main h2 {
  font-size: 30px;
  line-height: 56px;
  font-weight: 300;
  text-transform: capitalize;
}
footer ul {
  list-style: none;
  display: grid;
  gap: 10px;
}
footer ul a {
  font-size: 18px;
  line-height: 39px;
}
/* About/Bio Page Styling Here */
.bio {
  padding-bottom: 100px;
}
.bio .textContainer {
  background: #eafff2;
  padding: 50px;
  text-align: justify;
}
/* Project Page Styling Here */
.project {
  padding-bottom: 100px;
}
.project .machineLearningImg {
  width: 100%;
  object-fit: cover;
  padding-bottom: 40px;
}
.project .text p {
  font-size: 20px;
  font-weight: 500;
}
/* Resume Page Styling Here */
.resume {
  padding-bottom: 100px;
}
.resume .resumeFile {
  width: 100%;
  height: fit-content;
  min-height: 200vh;
  max-height: 200vh;
}

/* Responsive Media Query  */
@media only screen and (max-width: 1250) {
  .resumeFile {
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    max-height: 80vh;
  }
}
@media only screen and (max-width: 950px) {
  .responsiveImg {
    display: none;
  }
  .resumeFile {
    width: 100%;
    height: fit-content;
    min-height: 50vh;
    max-height: 50vh;
  }
}
@media only screen and (max-width: 800px) {
  section {
    padding: 50px;
    padding-bottom: 0px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer ul a {
    text-align: center;
  }
  .resumeFile {
    width: 100%;
    height: fit-content;
    min-height: 70vh;
    max-height: 70vh;
  }
}
